{{ title }}
<br/>-----<br/>
<a href = '/'>Listado 1</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href = '/pipol/data'>Listado 2</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href = 'insertar'>Insertar</a>
<br/>-----<br/>
<!-- <h1>Datos</h1>
<ul>
    <li *ngFor = "let usuario of datos">
        {{ usuario.nombres }} {{ usuario.apellidos }}
    </li>
</ul>


<h1>Modelos</h1>
<ul>
    <li *ngFor = "let pipol of datosModelos">
        {{ pipol.nombres }} {{ pipol.apellidos }}
    </li>
</ul> -->


<router-outlet></router-outlet>
<app-insertarestudiante (sacarAlert) = "this.sacarAlerta()"></app-insertarestudiante>
<!-- (recargarIndicador)="cargarInidicador($event)" -->